.sidebar-nav {
  margin-top: 10px;
  padding: 10px;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: light-blue;
  color: #2E2E2E;
  font-weight: bold;
  border: 1px solid #2E2E2E;
  font-size: 15px;
}
